.card-body {
    background-color: rgb(198, 216, 191);
    padding-bottom: 0px;
}

.card-text {
    margin-left: 10%;
}

.card-title {
    margin-left: 5%;
}

.h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}

.p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}